
<%= form_with(model: @category, local: true, html: { class: "category-form" }) do |form| %>
  <div class="field">
    <%= form.label "Category Name" %>
    <%= form.text_field :name %>
  </div>

  <div class="actions" title = "Save Category">
    <%= button_tag(type: "submit", class: "btn") do %>
      <i class="fa-solid fa-floppy-disk"></i> &nbsp;Save Category
    <% end %>
  </div>
<% end %>
